@media screen and (max-width: 480px) {
    .heading2{
        font-size: 30px;
    }
    .heading3{
        font-size: 1em;

    }

    .aside1{
        width: 0%;
    }
    .aside2{
        width:100%;
    }


  }